#header {
    height: 100%;
    color: var(--text-color-light);
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / -1;
    background: var(--header-background-color);
}