#main {
    background-color: var(--main-content-background-color);
    position: relative;
}

#main > div {
    display: none;
}

#main > .active {
    height: 100%;
    background-color: var(--main-content-background-color);
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    justify-content: center;
    align-items: center;
}

#main > div > div { 
    height: 40px;
    width: 800px;
    font-size: 14px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--task-background-color);
    color: var(--text-color-dark);
    padding-left: 10%;
    padding-right: 10%;
    box-shadow: 0px 0px 2px black;
}

#main > div > div > * {
    flex: 1;
}

#main > div > div > :first-child {
    min-width: 40%;
}

#main > div > div.completed {
    opacity: 0.5;
    text-decoration: line-through;
}

#main > div > div.low-priority {
    border-right: 5px solid rgb(43, 156, 43);
}

#main > div > div.medium-priority {
    border-right: 5px solid rgb(253, 188, 67);
}

#main > div > div.high-priority {
    border-right: 5px solid rgb(255, 68, 68);
}

#add-task-btn {
    position: absolute;
    top: 10%;
    right: 10%;
    background-color: var(--main-content-background-color);
    border: none;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 800;
}

#add-task-btn > p {
    position: relative;
    top: 2px;
}

#add-task-btn .sign::before, #add-task-btn .sign::after {
    content: '';
    position: absolute;
    background-color: black;
    width: 36px;
    height: 8px;
}

#add-task-btn .sign::before {
    transform: rotate(90deg);
}

#task-popup-form {
    display: grid;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: var(--form-background-color);
    padding: 10px;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

#task-popup-form .row {
    display: grid;
}

#task-popup-form .radio-buttons {
    display: flex;
}