#main {
    background-color: var(--main-content-background-color);
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
}

#main > div {
    display: none;
}

#main > .active {
    background-color: var(--main-content-background-color);
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}

#main > div > div { 
    width: 100%;
    font-size: 14px;
    border-radius: 5px;
    padding: 10px 20px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    background-color: var(--task-background-color);
    color: var(--text-color-dark);
    box-shadow: 0px 0px 2px black;
}

#main > div > div > *{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

#main > div > div > :first-child {
    align-self: center;
}

#main > div > div > input {
    justify-self: start;
    height: 18px;
    width: 18px;
}

#main > div > div > input:hover {
    cursor: pointer;
}

#main > div > div > button {
    width: 26px;
    height: 26px;
    border: none;
    background: none;
    fill: red;
    justify-self: end;
}

#main > div > div > button:hover {
    transform: scale(1.15);
    cursor: pointer;
}

#main > div > div.completed {
    opacity: 0.5;
    text-decoration: line-through;
}

#main > div > div.low-priority {
    border-right: 5px solid var(--priority-low);
}

#main > div > div.medium-priority {
    border-right: 5px solid var(--priority-medium);
}

#main > div > div.high-priority {
    border-right: 5px solid var(--priority-high);
}

#add-task-btn {
    order: 1;
    border: dotted 2px gray;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 46px;
    font-size: 18px;
    border-radius: 5px;
    background: none;
    color: var(--text-color-dark);
    padding: 10px 20px;
    margin-top: 10px;
}

#add-task-btn .plus-sign {
    border-radius: 100%;
    color: var(--main-content-background-color);
    background-color: var(--text-color-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18px;
    width: 18px;
    font-size: 18px;
    position: relative;
}

#add-task-btn:hover {
    background-color: var(--task-background-color);
    transform: translateY(-2px);
    border: none;
    box-shadow: 0px 0px 2px black;
    cursor: pointer;
}

#task-popup-form {
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: var(--form-background-color);
    padding: 10px;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

#form-task {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: var(--text-color-light);
    font-weight: bold;
}

#task-popup-form .row {
    display: grid;
    width: 100%;
    gap: 5px;
}

#task-popup-form input {
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
}

#task-popup-form .radio-buttons {
    display: flex;
    justify-content: space-between;
}

#task-popup-form .radio-buttons input[type=radio] {
    height: 0px;
    width: 0px;
    opacity: 0;
}

#task-popup-form .radio-buttons .radio-row {
    display: flex;
}

#radio-low, #radio-medium, #radio-high {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: var(--main-content-background-color);
    color: var(--text-color-dark);
}

#low:checked + #radio-low, #radio-low:hover {
    background-color: var(--priority-low);
    color: var(--text-color-light);
    cursor: pointer;
}

#medium:checked + #radio-medium, #radio-medium:hover {
    background-color: var(--priority-medium);
    color: var(--text-color-light);
    cursor: pointer;
}

#high:checked + #radio-high, #radio-high:hover {
    background-color: var(--priority-high);
    color: var(--text-color-light);
    cursor: pointer;
}

#task-popup-form .buttons {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.buttons #task-form-submit,.buttons #task-form-close {
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
}

#task-form-submit {
    background-color: #63d863;
}

#task-form-submit:hover {
    background-color: #63d863cc;
    cursor: pointer;
}

#task-form-close {
    background-color: #ee7d7d;
}

#task-form-close:hover {
    background-color: #ee7d7dcc;
    cursor: pointer;
}