#sidebar {
    background-color: var(--sidebar-background-color);
    position: relative;
    padding: 10px;
}

#sidebar li, #add-project-btn {
    border-radius: 5px;
    padding: 10px 20px;
    color: var(--text-color-dark);
}

#sidebar li.active {
    background-color: var(--main-content-background-color);
}

#add-project-btn {
    background-color: var(--sidebar-background-color);
    width: 100%;
    border: none;
    display: flex;
    gap: 8px;
    flex-wrap: nowrap;
    font-size: 24px;
}

#add-project-btn span {
    border-radius: 100%;
    color: var(--sidebar-background-color);
    background-color: var(--text-color-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    position: relative;
    top: 4px;
}

#add-project-btn:hover, #sidebar li:hover {
    cursor: pointer;
    background-color: var(--main-content-background-color);
}

#project-popup-form {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: var(--form-background-color);
    padding: 10px;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}