#sidebar {
    background-color: var(--sidebar-background-color);
    position: relative;
    padding: 10px;
}

#sidebar li, #add-project-btn {
    border-radius: 5px;
    padding: 10px 20px;
    color: var(--text-color-dark);
}

#sidebar li {
    display: flex;
    gap: 10px;
}

#sidebar li.active {
    background-color: var(--sidebar-project-color);
}

#sidebar > :nth-last-child(2) {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid var(--text-color-dark);
}

#add-project-btn {
    background-color: var(--sidebar-background-color);
    width: 100%;
    border: none;
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
    font-size: 24px;
}

#add-project-btn .plus-sign, #sidebar li .project-icon {
    height: 24px;
    width: 24px;
    position: relative;
    top: 2px;
    fill: var(--text-color-dark);
}

#add-project-btn:hover, #sidebar li:hover {
    cursor: pointer;
    background-color: var(--sidebar-project-color);
}

#project-popup-form {
    position: fixed;
    top: 50vh;
    left: 2vw;
    background-color: var(--form-background-color);
    padding: 10px;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

#form-project {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#project-popup-form .row {
    display: flex;
    gap: 10px;
    width: 100%;
}

#project-popup-form input[type=text] {
    padding: 8px;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 100%;
}

#project-popup-form h2 {
    color: var(--text-color-light);
}

#project-form-submit, #project-form-close {
    border: none;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    padding: 10px 20px;
    border-radius: 5px;
    color: var(--text-color-dark);
}

#project-form-submit {
    background-color: #63d863;
}

#project-form-submit:hover {
    background-color: #63d863cc;
    cursor: pointer;
}

#project-form-close {
    background-color: #ee7d7d;
}

#project-form-close:hover {
    background-color: #ee7d7dcc;
    cursor: pointer;
}