:root {
    --header-background-color: #546db3;
    --sidebar-background-color: #ccd7e7;
    --main-content-background-color: #f8fafc;
    --task-background-color: #e2e8f0;
    --form-background-color: #64748b;
    --text-color-dark: #0f172a;
    --text-color-light: #f1f5f9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family:  sans-serif, Helvetica, Arial;
    height: 100%;
}

#container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 10fr 1fr;
    justify-content: center;
    align-items: center;
}

#content {
    height: 100%;
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 300px 3fr;
}
