:root {
    --header-background-color: #546db3;
    --sidebar-background-color: #ccd7e7;
    --main-content-background-color: #f8fafc;
    --task-background-color: #e2e8f0;
    --form-background-color: #64748b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

#container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 5fr;
    justify-content: center;
    align-items: center;
}

#content {
    height: 100%;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 200px 3fr;
}
