:root {
    --header-background-color: linear-gradient(16deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 36%, rgba(0,125,255,1) 100%);
    --sidebar-background-color: #ccd7e7;
    --sidebar-project-color: #eef3fc;
    --main-content-background-color: #f8fafc;
    --footer-background-color: #020024;
    --task-background-color: #e2e8f0;
    --form-background-color: #64748b;
    --text-color-dark: #0f172a;
    --text-color-light: #f1f5f9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family:  sans-serif, Helvetica, Arial;
    height: 100%;
}

#container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 10fr 0.5fr;
    justify-content: center;
    align-items: center;
}

#content {
    height: 100%;
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 300px 3fr;
    overflow-y: auto;
}
