:root {
    --header-background-color: #4b5563;
    --sidebar-background-color: #d1d5db;
    --main-content-background-color: #f3f4f6;
    --task-background-color: #9ca3af;
    --form-background-color: #64748b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

#container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 5fr;
    justify-content: center;
    align-items: center;
}

#header {
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / -1;
    background-color: var(--header-background-color);
}

#content {
    height: 100%;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 200px 3fr;
}

#sidebar {
    background-color: var(--sidebar-background-color);
    padding: 16px;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
}

#main {
    background-color: #e5e7eb;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    justify-content: center;
    align-items: center;
}

#main > div {
    height: 60px;
    width: 800px;
    border-radius: 40px;
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    background-color: var(--task-background-color);
}

#add-project-btn {
    position: absolute;
    bottom: 10px;
}

#project-popup-form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: var(--form-background-color);
    padding: 10px;
    border-radius: 10px;
}